@font-face {
  font-family: 'iconfont';  /* Project id 2490612 */
  src: url('//at.alicdn.com/t/font_2490612_8ekoagh11cs.woff2?t=1620438545974') format('woff2'),
       url('//at.alicdn.com/t/font_2490612_8ekoagh11cs.woff?t=1620438545974') format('woff'),
       url('//at.alicdn.com/t/font_2490612_8ekoagh11cs.ttf?t=1620438545974') format('truetype');
}
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: .16rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }