@font-face {
  font-family: 'iconfont';  /* Project id 2490612 */
  src: url('//at.alicdn.com/t/font_2490612_ri0v4ezm97.woff2?t=1619766264474') format('woff2'),
       url('//at.alicdn.com/t/font_2490612_ri0v4ezm97.woff?t=1619766264474') format('woff'),
       url('//at.alicdn.com/t/font_2490612_ri0v4ezm97.ttf?t=1619766264474') format('truetype');
}
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: .16rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }